<div class="welcome card">
    <div class="row justify-content-around">
        <div class="col-auto mt-5 mb-2 ">
            <h1>Welcome!</h1>
        </div>
      
    </div>
    <div class="row justify-content-center">
        <button type="button" 
                class="btn btn-outline-info col-4 m-1 m-sm-2 m-md-4">
                    <p class="h6">Administrator</p>
                </button>
        <button type="button" 
                class="btn btn-outline-info col-4 m-1 m-sm-2 m-md-4">
                    <p class="h6">Student</p>
                </button>
    </div>
</div>

